*:focus {
  outline: 0;
}

html,
body,
#root {
  display: flex;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #eee;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.error{
  color:brown;
  font-size: 12px;
}

.require {
  color: brown;
  margin-left: 0.25rem;
}

.campo{
  padding-top: 10px;
}

.btn-width{
  width: 100% !important;
}